/* v Kha */
body {
    margin: 0;
}


#form-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent);
    align-items: center;
    justify-content: center;
    display: flex;
}
.form {
    background-color: #ddd;
    height: 80%;
    width: 50%;
    border-radius: 16px;
    position: relative;
}
.form .form__header .form__header-title h1 {
    margin: 30px 32px;
    color: var(--primary-color-2);
}
.close {
    display: block;
    right: 0;
    position: absolute;
    top: 5%;
    margin-right: 25px;
    font-size: 40px;
}
.close:hover {
    opacity: 0.8;
    cursor: pointer;
}
.form__main label {
    margin-left: 6%;
    font-size: 16px;
    display: block;
}
.user-input, .pwd-input, .repwd-input {
    margin-left: 6%;
    border-radius: 12px;
    padding: 12px;
    width: 85%;
    
}
.form__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.switch-form {
    margin-left: 6%;
    text-decoration: none;
    color: var(--primary-color-2);
}
.switch-form:hover {
    opacity: 0.8;
}
.footer_btn {
    margin-right: 10%;
}
.btn-cancel {
    margin-right: 24px;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-cancel:hover {
    opacity: 0.8;
}
.btn-ok {
    background-color: var(--primary-color-2);
    color: white;
    margin-right: 45px;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-ok:hover {
    opacity: 0.8;