body {
    margin: 0;
}
:root {
    --primary-color: #C74B50;
    --primary-color-2: #890F0D;
    --primary-color-trans: rgba(204, 0, 0, .1);
    --border-ios-1: rgb(180, 180, 180);
    --border-ios-2: rgb(240, 240, 240);
    --transparent: rgba(255, 255, 255, .9);
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-left: 0;
    list-style: none;
}

.header-box {
    background-image: linear-gradient(-45deg, var(--primary-color), var(--primary-color-2));
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 #333;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.nav-bar__list {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-bar__item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-bar__item:hover .sub-nav__list {
    display: block;
}

.sub-nav__list {
    position: absolute;
    top: 12px;
    right: 0px;
    min-width: 160px;
    background-color: var(--transparent);
    box-shadow:
        1px 1px 1px 0 var(--border-ios-2) inset,
        1px 1px 1px 0 var(--border-ios-1),
        0px 0px 1px 0 var(--border-ios-1);
    border-radius: 10px;
    padding: 8px 0;
    z-index: 1;
    display: none;
    transform-origin: left calc(0% + 20px);
    animation: growth .2s ease-in-out;
}

.sub-nav__list::before {
    content: "";
    display: block;
    border-width: 12px 6px 12px 0;
    border-color: transparent var(--transparent) transparent transparent;
    border-style: solid;
    position: absolute;
    left: -6px;
    top: 14px;
}

.sub-nav__list::after {
    content: "";
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0;
}

.sub-nav__item--has-img {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-nav__item--has-img img {
    position: absolute;
    margin-left: 20px;
    height: 20px;
}

.sub-nav__item a {
    width: 100%;
    height: 36px;
    color: var(--primary-color);
    padding: 8px 0 8px 20px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.sub-nav__item--has-img a {
    padding-left:52px;
}

.sub-nav__item:hover,
.sub-nav__item img:hover {
    cursor: pointer;
    background-color: var(--primary-color-trans);
}
.nav-bar__item-link {
    color: #ddd;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    position: relative;
}

.nav-bar__item-link:hover {
    color: white;
}

.nav-bar__item-link::after,
.nav-bar__item-link::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 0px;
    bottom: 0;
    background-color: white;
    transition: all .2s ease-in-out;
}

.nav-bar__item-link::after {
    left: 50%;
}

.nav-bar__item-link::before {
    right: 50%;
}

.nav-bar__item-link:hover::after,
.nav-bar__item-link:hover::before {
    width: 50%;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    margin-right: 20px;
    height: 100%;
}

.login-box {
    display: flex;
    margin: 4px 0 0 0;
    width: 100%;
    justify-content: flex-end;
}

.login a {
    text-decoration: none;
    color: #ddd;
    font-weight: 600;
}

.login:first-child {
    padding-right: 8px;
}

.login:last-child {
    padding-left: 8px;
    border-left: 1px solid #ddd;
}

.login a:hover {
    color: white;
}

#search-box {
    border: none;
    border-radius: 50px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.search-box__expanded {
    transition: none;
}

#search-box__input {
    width: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 14px;
    transition: all .2s ease-in-out;
}

#search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}

.search-box__icon {
    font-size: 26px;
}

/* main */
main {
    margin-top: 80px;
}

.banner {
    width: 100%;
}