body {
    margin: 0;
}

* {
    --primary-color: #D40000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-box {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 #333;
    justify-content: space-between;
}

.nav-bar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-bar__item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-bar__item-link {
    color: #ddd;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    position: relative;
}

.nav-bar__item-link:hover {
    color: white;
}

.nav-bar__item-link::after,
.nav-bar__item-link::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 0px;
    bottom: 0;
    background-color: white;
    transition: all .2s ease-in-out;
}

.nav-bar__item-link::after {
    left: 50%;
}

.nav-bar__item-link::before {
    right: 50%;
}

.nav-bar__item-link:hover::after,
.nav-bar__item-link:hover::before {
    width: 50%;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    margin-right: 20px;
    height: 100%;
}

.login-box {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    width: 100%;
    justify-content: flex-end;
}

.login a {
    text-decoration: none;
    color: #ddd;
    font-weight: 600;
}

.login:first-child {
    padding-right: 8px;
}

.login:last-child {
    padding-left: 8px;
    border-left: 1px solid #ddd;
}

.login a:hover {
    color: white;
}

#search-box {
    border: none;
    border-radius: 50px;
    margin-top: 8px;
    display: flex;
    background-color: white;
}

#search-box__input {
    width: 160px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0 0 0 12px;
    outline: none;
    font-size: 14px;
    padding-right: 12px;
    display: none;
}


@keyframes growth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}

.search-box__icon {
    font-size: 26px;
}